.page2 {
    min-height: 100vh;

    & .section {
        padding: 20px;
        min-height: 400px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &.section1 {
            background-color: #a5cd39;
        }

        &.section2 {
            background-color: #72814a;
        }

        &.section3 {
            background-color: #1ab99b;
        }

        &.section4 {
            background-color: #677777;
        }

        &.section5 {
            background-color: #5bb2b9;
        }
    }
}
