.animationPicker {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: color(#000 alpha(0.3));

    &.animate {
        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    }

    & .button {
        width: 200px;
        margin: 10px;
        background-color: #fff;
    }
}
